<div class="zc_container">
  <% if @booking %>
    <% if flash[:success] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:success] %>
      </div>
    <% elsif flash[:errors] %>
      <% errors = flash[:errors] %>
      <div class="alert alert-danger">
        <strong>Failed!</strong>
       <ul>
        <% errors.values.flatten.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div>
      <% if @stat %>
        <h4><i> Wallet statement </i></h4>
        <div class="zc_panel">

          <p><strong>Amount paid:</strong>
          <%= @stat.paid_amount.round %></p>

          <p><strong>Amount due:</strong>
          <%= @stat.amount_due.round %></p>

          <p><strong>Wallet amount:</strong>
          <%= @stat.amount_available.round %></p>
          </br>
        </div>
      <% end %>

      <div>
      <h4><i> Booking details </i></h4>
      <div class="zc_panel">

        <p><strong>Booking amount:</strong>
        <%= @booking.amount.round %></p>

        <p><strong>State:</strong>
        <%= @booking.state %></p>

        <p><strong>Fee:</strong>
        <%= @booking.fee.round %></p>

        <p><strong>Security deposit:</strong>
        <%= "#{@booking.security_deposit.round} #{@booking.refund_amount.to_f > 0 ? ' (Refunded)' : ''}" %></p>

        <p><strong>Other charges:</strong>
        <%= @booking.other_charges ? @booking.other_charges.map{|k,v| "#{k.humanize} => ₹ #{v.round}"}.join(', ') : 'None' %>
        </p>

        </br>
      </div>

      <h4><i> Audit of payments </i></h4>
      <table class="table table-hover table-striped table-bordered" style="width:500px">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Mode</th>
            <th>Payment at</th>
          </tr>
        </thead>
        <tbody>
          <% @payments.each do |p| %>
            <tr>
              <td><%= p.amount.round %></td>
              <td><%= p.mode %></td>
              <td><%= p.created_at.strftime("%d %b %y %I:%M %P") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @stat && @stat.amount_due > 0 %>
        <%= link_to 'Make payment', new_payment_path(amount: @stat.amount_due, booking_id: @stat.booking_id), :method => :get, class: 'btn btn-primary btn-sm', type: 'button' %>
      <% end %>

      <% if %w(confirmed started).include?(@booking.state) %>
        <% trigger = @booking.state == 'started' ? 'end' : 'start' %>
        <% button_text = "#{trigger.capitalize} trip" %>
        <% disabled = false %>
      <% elsif @booking.state == 'ended' %>
        <% button_text = "Trip has ended" %>
        <% disabled = true %>
      <% else%>
        <% button_text = "Booking not confirmed" %>
        <% disabled = true %>
        <% if @stat.blank? %>
          <%= link_to "Pay to confirm", new_payment_path(amount: @booking.amount, booking_id: @booking.id), :method => :get, class: 'btn btn-primary btn-sm', type: 'button'%>
        <% end %>
      <% end %>
      <%= button_to button_text, booking_path(@booking, trigger: trigger), :method => :patch, class: 'btn btn-primary btn-sm', disabled: disabled %>


    </div>
  <% else %>
    <h4> Could not fetch the booking statement, Try again! </h4>
  <% end %>

</div>
